/*Override width setting for display */
body {
	background-color: #505050;
}

.jspsych-display-element { 
    width: 800px;
    margin: 50px auto 50px auto;
}


#experiment-canvas {
	display: inline-block; vertical-align: top; background-color: #505050;
}

#question-div {
	display: inline-block; width:800px; vertical-align: top; margin-right:0px; word-wrap: break-word; text-align:center;
}

#instructions-div {
	display: inline-block; width:auto; vertical-align: top; word-wrap: break-word; text-align: left;
}

#prompt-div {
	text-align: center;
}


