/*Override width setting for display */
.jspsych-display-element { 
    width: 1000px;
    margin: 50px auto 50px auto;
}


#experiment-canvas {
	display: inline-block; vertical-align: top; background-color: #505050;
}

#question-div {
	display: inline-block; width:800px; vertical-align: top; margin-right:20px; word-wrap: break-word;
}

#prompt-div {
	text-align: center;
}


